/* Universal Styles */

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

/* Header */

header {
    display: flex;
    align-items: center;
    height: 69px;
    width: 100%;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid seashell;
}

.logo {
    display: flex;
    flex-grow: 1;
    height: 50px;
    padding: 10px;
}

nav span a {
    display: inline-flex;
    text-decoration: underline;
    color: seashell;
    padding: 10px;
}

/* Main Title */

.main-title {
    display: flex;
    align-items: center;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    position: relative;
    top: 69px;
    height: 700px;
    width: 1200px;
}

.banner {
    background-color: black;
    height: 150px;
    width: 100%
}