body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

header {
    display: flex;
    align-items: center;
    height: 69px;
    width: 100%;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid seashell;
}

.logo {
    display: flex;
    flex-grow: 1;
    height: 50px;
    padding: 10px;
}

nav span a {
    display: inline-flex;
    text-decoration: underline;
    color: seashell;
    padding: 10px;
}