/* Universal Styles */

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

/* Header */

header {
    display: flex;
    align-items: center;
    height: 69px;
    width: 100%;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid seashell;
    background-color: black;
}

.logo {
    display: flex;
    flex-grow: 1;
    height: 50px;
    padding: 10px;
}

nav span a {
    display: inline-flex;
    text-decoration: underline;
    color: seashell;
    padding: 10px;
}

/* Main Content */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main Title */

.main-title {
    display: flex;
    align-items: center;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    position: relative;
    top: 69px;
    height: 700px;
    width: 1200px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 100px;
    width: 100%;
    text-align: center;
}

h2 {
    margin: 0;
    padding: 0;
}

/* Center Section */

.center-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
    top: 200px;
}

.banner-two {
    text-align: center;
}

.items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1000px;
}

.items-two {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    padding-left: 175px;
    padding-right: 175px;
}

.image {
    height: 200px;
    width: 300px;
}

.items h4 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.myrtle {
    margin-right: 20px;
}

.bedford {
    margin-left: 20px;
}

.text {
    display: flex;
    justify-content: center;
}